body {
    font-family: "Roboto";
    width: 1280px;
    margin: 0 auto;
}

.logo {    
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
}

.logo-link {
    text-decoration: none;
    color: #000000;
}

.logo-color {
    color: #4BCAFF;
}

.menu {
    margin-top: 40px;
    background: #35444F;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.menu-item {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding: 24px 34px 18px;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    background: #222F3A;
}

main {
    margin-top: 49px;
    display: flex;
}
.side-bar {
    justify-content: center;
    flex-direction: column;
}

.bar-list {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.bar-item {
    padding: 26px 0 26px 44px;
}

.bar-link {
    text-decoration: none;
    color: #485863;
}

.bar-item:hover {
    background: #DBDBDB;
    text-align: center;
}

.bar-link:hover {
    color: #000000;
}

.article {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 52px
}

.article-image {
    width: 885px;
    height: 530px;
    border: 1px solid #000000;
}

.image-item {
    padding: 74px 265px;
}

.text-cyrilic {
    width: 885px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
    color: #2C2C2C;
} 

.text-latin {
    width: 885px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 34px;
    color: #2C2C2C;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
    background: #DBDBDB;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    width: 875px;
    height: 28px;
    padding: 20px 0 20px 40px;
}

.nav-link {
    text-decoration: none;
    color: #0C1927;
}

.nav-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;
}

.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #0C1927;
    padding-right: 40px;
}

